/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.bouton_log_out, .bouton_log_in{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    list-style: none;
    text-decoration: none;
}
.bouton_log_in{
    color: deepskyblue;
    border: 1px solid deepskyblue;
}
.bouton_log_out{
    color: red;
    border: 1px solid red;
}
.container{
    text-align: center;
    font-family: sans-serif;
}
.comment_twitter{
    display: inline-block;
    width: 50%;
    border: 1px solid grey;
    margin: 10px 20%;
}
.comment_twitter>li{
    list-style: none;
    text-align: left;
    padding: 10px;
}
.comment_twitter>li:first-of-type{
    color: deepskyblue;
}
